@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment _environment
@inject ICompositeViewEngine _engine
@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
  Func<string, string, string> activeClass = (targetUrl, className) => Context.Request.Path.Value!.ToLower() == targetUrl ? className : "";

  string url = Context.Request.Path;
  string qs = Context.Request.QueryString.Value ?? "";
  string returnUrl = url + qs;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkZone</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha512-UyNhw5RNpQaCai2EdC+Js0QL4RlVmiq41DkmCJsRV3ZxipG2L0HhTqIf/H9Hp8ez2EnFlkBnjRGJU2stW3Lj+w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-bootstrap/all.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link href="WorkZone.Web.styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  </head>
  <body>
    <div class="page">
      <div class="sidebar">
        <component type="typeof(NavMenu)" render-mode="ServerPrerendered" />
      </div>

      <main>
        <div class="top-row px-4 auth">
          @if (_signInManager.IsSignedIn(User)) {
            <div class="top-row px-4 auth">
              <a href="/Profile">a.silver@pixata.co.uk</a>
              <form method="post" action="/Logout"><button type="submit" class="nav-link btn btn-link">Log out</button></form>
            </div>
          } else {
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link @activeClass("/login", "active")" href="/Login">
                  <span class="@IconsHelper.LogIn"></span> Log in
                </a>
              </li>
            </ul>
          }
        </div>
        <article id="body-content" class="content px-4">
          @RenderBody()
        </article>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script>
      Blazor.start().then(() => {
        Blazor.defaultReconnectionHandler._reconnectCallback = function(d) {
          document.location.reload();
        };
      });
    </script>
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    @await RenderSectionAsync("Scripts", false)
  </body>
</html>